<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
  <appSettings>
    <!--<add key="email" value="your email address" />
    <add key="password" value="app password" />   --><!--use app password here instead of actual password--><!--
    <add key="port" value="993" />--> 
    <add key="emailToRetrive" value="50" />  <!--how much emails will retrive in one execution--> 
    <add key="filePath" value="F:\DeltaCRMRelease\DeltaCRMWebMail\DeltaCRMWebMail\MailAttachment" />
    <add key="connection" value="server=DESKTOP-4Q9R5I3\E4UWORLDWIDE;initial catalog=DeltaCRMWebMailsDB;user id=sa;password=hKya^AVMpc*vb@5W" />
  <add key="ClientSecret" value="C:\Users\novapex\Downloads\client_secret_133967018717-f6rval1rak4mfg3s1i4dp0oq9l3sb5ch.apps.googleusercontent.com.json" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.53.0.0" newVersion="1.53.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.53.0.0" newVersion="1.53.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>